html{
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
}
.google-fonts{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.text-skyblue{color: skyblue;
    color: skyblue;
}
.text-pink{color: rgb(255, 192, 203) ;}
#heading{
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    letter-spacing: 1.2em;
    border-bottom: solid 3px;
    text-shadow: 1px 1px 2px gray;
    line-height: 2.0;
    padding: 50px 10px 10px 0px;
}
.decoration{
    border: solid 3px rgb(115, 115, 114);
    padding:10px 10px 10px 30px;
}
.child p{
    font-weight: bold;
}